*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.container{
    width: 75%;
    margin: auto;
    color: white;
}

.float-left{
    float: left;
}

.clear-fix::after{
    content: '';
    display: table;
    clear: both;
}

a{
    font-size: xx-small;
    text-decoration: none;
    color: white;
}

p{
    font-size: small;
}

h1{
    font-size: 32px;
}

/* UTILITIES BUTTON */

.btn{
    display: inline-block;
    min-width: 50px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.btn.btn-green{
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #7cbb01;

}

.btn-big{
    display: inline-block;
    text-align: center;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #7cbb01;

}

/* HEADER */

.main-header{
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 80px;
    background-color: #0d325a;
    font-size: xx-small;
}

.container .logo{
    width: 15%;
}

.container .logo img{
    vertical-align: middle;
}

.main-header a.btn{
    line-height: 1;
}

/* NAV CENTER */

.nav-center ul li,
.nav-right ul li{
    display: inline-block;
    margin-right: 20px;
}

.container .nav-center{
    width: 50%;
}

/* NAV RIGHT */

.container .nav-right{
    width: 35%;
}

.nav-right ul li:last-child{
    margin-right: 0;
}

/* MAIN */

/* SECTION JUMBO-TRON */

section.jumbo-tron{
    position: relative;
    height: 470px;
    background-color: #0d325a;
    background-image: url(../img/background-header.png);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: 115% bottom;
}

.jumbo-tron .container{
    height: 100%;
    position: relative;
}

.container .title-container{
    position: absolute;
    bottom: 150px;
    left: 0%;
}

.container .title-container h1{
    width: 500px;
}

.jumbo-tron .title-container a.btn-big{
    margin-top: 20px;
}

/* SECTION INTRO */

section.intro{
    height: 70px;
    padding: 15px 0;
    background-color: #d3d3d3;
    text-align: center;
}

section.intro h5{
    color: #818181;
}

/* SECTION INFO */

section.info .container{
    color: black;
    margin-top: 20px;
    text-align: center;
}
section.info .container h4{
    color: green;
}

section.info .info-left,
section.info .info-center,
section.info .info-right{
    width: 30%;
    margin-right: 20px;
}

.info .info-left .content-left img,
.info .info-center .content-center img,
.info .info-right .content-right img{
    width: 80px;
    height: 80px;
}

.info .container hr{
    display: inline-block;
    width: 60px;
    border: 1px solid black;
    margin: 15px 0;
}

section.info > hr{
    width: 97%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 1px solid gray;
}

/* SECTION PERSONALE */

section.personale .container{
    color: black;
}

.container .grafico{
    width: 50%;
    text-align: center;
}

.container .grafico img{
    width: 270px;
    height: 270px;
}

.container .grafico-text{
    width: 300px;
}

section.personale a{
    display: inline-block;
    text-decoration: underline;
    margin-top: 10px;
    color: #6893c3;
    font-size: small;
}

section.personale p{
    margin-top: 10px;
}

/* FOOTER */

.main-footer{
    line-height: 80px;
    background-color: gray;
}

.main-footer div.select span{
    display: inline-block;
    line-height: 1;
    border-bottom: 1px solid white;
    width: 100px;
}

.main-footer a.btn-big{
    line-height: 1;
    margin-left: 10px;
}

.container .footer-left{
    width: 50%;
    text-align-last: center;
}

.container .footer-right{
    width: 50%;
}

.footer-right span{
    width: 60px;
}

.container a.btn-small{
    line-height: 1;
    position: fixed;
    bottom: 0;
    right: 250px;
    font-size: 15px;
    background-color: #7cbb01 ;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

i{
    display: inline-block;
    padding-left: 30px;
    color: white;
    width: 10px;
}